<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
         <Link rel="styleSheet" href="{{asset('css/bootstrap.min.css')}}" type="text/css"/>

    
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Mon blog</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">thing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{{ path('login') }}">Login</a>
      </li>
    </ul>
    {%  if is_granted('ROLE_ADMIN') %}
   <a href='{{path("app_logout")}}'> <button  class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button></a>
   {% else %}
   <a href='{{path("app_register")}}'> <button  class="btn btn-outline-success my-2 my-sm-0" type="submit">register</button></a>

    {% endif %}
  </div>
</nav>
        </header>
        <div class="container">
        {% for label, messages in app.flashes(['success', 'warning']) %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
        {% block body %}{% endblock %}
        {% block javascript %}{% endblock %}
        </div>
           
    </body>
</html>
